.home-body {
  height: 100vh;
  background-image: url(../../images/home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* ----------- Ajuste Video ao lado do Nome  -------------- */
.home-container {
  height: 80%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.home-container-name {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* ------------ PDF Curriculo ----------------*/
.pdf-curriculo a{
  display: flex;
  justify-content: flex-start;
  padding-top: 8px;
  color: rgb(0, 107, 168);
}

/*------------ Ajuste fontes Nome --------------*/
.home-P {
  color: grey;
  font-size: 25pt;
  padding: 0;
  margin: 0;
}

.home-H1 {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 56pt;
}

.home-contacts-icon {
  color: white;
  font-size: 30px;
  padding-top: 7px;
}

a {
  color: grey;
  padding-right: 5px;
}

.home-contacts-icon {
  display: flex;
  flex-direction: row;
}

@media screen and (max-width: 680px) {
  .home-body {
    width: 100%;
    height: 640px;
    background-image: url(../../images/home.jpg);
  }
  .home-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }
  .home-container-name {
    width: 100%;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  a {
    color: grey;
    padding-right: 5px;
  }
  .home-contacts-icon {
    display: flex;
  }
}