.video-responsive {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }
  
  .video-responsive iframe {
    display: flex;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }

  @media screen and (max-width: 680px) {
    .video-responsive iframe {
        left: 0;
        top: 0;
        height: 20%;
        width: 20%;
        position: absolute;
      }
  }